version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile
      network: host
    container_name: expense-planner
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    volumes:
      - ./prisma/dev.db:/app/prisma/dev.db
    restart: unless-stopped

